.partnerscard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partnerscard__title {
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}